.first-box-container {
    width: 200px;
    float: left;
    height: 100px;
    background-color: red;
    margin: 20px;
    text-align: center;
    border-style: dashed;
    border-width: 10px;
    border-color: darkorange;
    text-decoration: underline;
    font-family: Engravers MT;
  }

  .second-box-container {
    width: 200px;
    float: left;
    height: 100px;
    background-color: yellow;
    margin: 20px;
    text-align: right;
    border-style: dotted;
    border-width: 5px;
    font-family: comic sans-serif;
  }

  .third-box-container {
    width: 200px;
    float: left;
    height: 100px;
    background-color: green;
    margin: 20px;
    border-style: solid;
    border-width: 15px;
    border-color: darkblue;
    
    
  }
 