.first-box-container {
    width: 200px;
    float: left;
    height: 100px;
    background-color: red;
    margin: 20px;
  }
  
  .second-box-container {
    width: 200px;
    float: left;
    height: 100px;
    background-color: yellow;
    margin: 20px;
  }
  
  .third-box-container {
    width: 200px;
    float: left;
    height: 100px;
    background-color: green;
    margin: 20px;
  }
  